<p id="notice"><%= notice %></p>

<p>
  <b>Member:</b>
  <%= @user.member_id %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<table>
  <tr>
    <th>Site Code</th>
		<th>Card</th>
    <th>Enabled</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<h3>Key Cards</h3>

<% @cards.each do |card| %>
  <tr>
    <td><%= card.card_id %></td>
    <td><%= card.site_code %></td>
    <td><%= card.enabled %></td>
		<td><%= link_to 'Disable', disable_user_card_path(@user, card), method: :post, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Edit', edit_user_card_path(@user, card) %></td>
    <td><%= link_to 'Destroy', user_card_path(@user, card), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
